/* Initialization  */
html, body {
	width: 100%;
	height: 100%;
}

html {
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	min-width: 980px;
	font-family: Kievit, sans-serif;
}

p, li {
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

h1, h2, h3 {
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
	-moz-outline-style: 0;
	outline: 0;
}
a:active, a:focus, a:hover {
	-moz-outline-style: 0;
	outline: 0;
}

a:visited {
	color: #000;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Top menu */
.top_menu ul {
	position: fixed;
	z-index: 10;
	text-transform: uppercase;
}
.top_menu li {
	display: block;
	background: url(../img/top_menu.png) 0 0 no-repeat;
	height: 22px;
	float: left;
	width: 233px;
	padding: 2px 24px 0 0;
	text-align: center;
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
}
.top_menu .t1 {
	left: 226px;
}
.top_menu .t2 {
	left: 437px;
}
.top_menu .t3 {
	left: 648px;
}
.top_menu .t4 {
	left: 859px;
}
.top_menu li:hover {
	background-position: 0 -24px;	
}
.top_menu li a {
	display: block;
	color: #fff;
	font-size: 0.9em;
	font-weight: 700;
	height: inherit;
}
.top_menu li:first-child {
	width: 250px;
	padding : 0;
	margin: 0;
}
.top_menu li:first-child a:focus {
	border: none;
}
.top_menu li:first-child a img {
	height: 250px;
	width: 250px;
}
li.menu_active {
	background-position: 0 -24px;
}
li.menu_active:first-child {
	background-position: 0 0;
}

/* Language menu */
.lang_menu ul {
	position: fixed;
	right:0;
	top:0;
	z-index: 10;
	text-transform: uppercase;
}
.lang_menu li {
	display: block;
	float: right;
	height: 22px;
	width: 30px;
	text-align: center;
	background-color: transparent;
	position: absolute;
	top: 5px;
	right: 10px;
}

.lang_menu .en {
	right: 100px;
}
.lang_menu .fr {
	right: 70px;
}
.lang_menu .nl {
	right: 40px;
}
.lang_menu li a {
	color: #000;
	font-size: .95em;
	text-decoration: underline;
}
.lang_menu li a:hover {
	color: grey;
}

/* Structural content */
.bg {
	background: grey;
	height: 100%;
	min-width: 100%;
	z-index: -1;
}
.intro {
	background: url(../img/bg_1.jpg) center 0 no-repeat fixed;
	background-size: cover;
}
.slides, .conta {
	background: url(../img/bg_2.jpg) center 0 no-repeat fixed;
	background-size: cover;
}
.brewe {
	background: url(../img/bg_3.jpg) center 0 no-repeat fixed;
	background-size: cover;
}

.container {
	z-index: 1;
	margin: auto;
	width: 70%;	
	position: relative;
	height: 100%;
}

/* Intro page */
.intro_float {
	float: left;
	width: 55%;
}
.intro_float h1 {
	padding: 25% 0 10% 0;
	font-size: 3.5em;
	font-weight: 200;
}

.intro_beers, .slides_beers {
	display: inline-block;
	width: 45%;
	vertical-align: top;
}
.intro_beers li, .slides_beers li {
	border-bottom : 1px dotted;
}
.intro_beers li:last-child, .slides_beers li:last-child {
	border-bottom : none;	
}
.intro_beers a, .slides_beers a {
	display: block;
	background: url("../img/arrow.png") right 0 no-repeat;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 0 20px 0;
	height: 35px;
}
.intro_beers a:hover, .intro_beers a:focus, .slides_beers a:hover, .slides_beers a:focus {
	background-position: right -55px;
}

.intro_beers span, .slides_beers span {
	color: #cc202f;
	font-style: italic;
	text-transform: none;
	font-weight: 400;
}

.intro_event {
	display: inline-block;
	padding: 0 0 0 0;
	width: 45%;
	margin: 0 0 0 8%;
	vertical-align: top;
}
.intro_event .scroll {
	overflow: auto;
	max-height: 200px;
}
.intro_event article p {
	margin-bottom: 10px;
}
.intro_event article header {
	padding: 0;
	margin: 0;
	color: #cc202f;
	font-size: 1em;
}
.intro_event article header p {
	font-style: italic;
	margin-bottom: 8px;
	line-height: .8em;
}
.intro_event article header h1 {
	padding: 0;
	margin: 0;
	color: #000;
	font-size: 1em;
	font-weight: 700;
	font-style: normal;
}
.intro_event article {
	border-bottom : 1px dotted;
	margin: 0 15px 10px 0;
}
.intro_event article:last-child {
	border-bottom : none;	
}

.intro_beers h1, .intro_event h1 {
	padding-top: 0;
	font-size: 1.4em;
	font-weight: 700;
}
.intro_glass {
	background:url(../img/intro_glass.png) no-repeat  center bottom transparent;
	width: 19.2em;
	height: 41.569523em;
	display: inline-block;
	background-size: cover;
	position: relative;
  top: 85px;
}

/* Beers presentation page */
.slider_container{
	margin: 0 auto;
    /*max-width: 969px;*/
    max-width: 1024px;
    width: 100%;
    padding: 1em;
}
.slider_container, .slider_container section{
	z-index: 1;
	height: 100%;
	width: 100%;
}

.slider_container section{
	margin-left: 25%;
}

.container .slider_container section{
	background: transparent !important;
}

.slides_beers {
	position: absolute;
	top: 50%;
	left: 0;
	width: 18%;
	z-index: 8;
}

section .slides_btle {
	position: absolute;
	top: 0;
	width: 45%;
	height: 100%;
}

.slides_btle {
	/*background:url('../img/btle_carioca.png') no-repeat;
	background-position:center top;*/
	width: 100%;
	position: absolute;
  	top: 0;
  	left: 0;
}

.slides_btle img {
	height: auto;
	max-width: 100%;
}

section .slides_txt {
	margin-top: 30%;
	margin-left: 50%;
	width: 25%;
	height: auto;
	
}
.slides_txt h1 {
	font-weight: 200;
	font-size: 4em;
	line-height: 0.8em;
}
.slides_txt h2 {
	color: #cc202f;
	font-style: italic;
	text-transform: none;
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 2em;
	height: 3em;
	background: url('../img/corner.png') 0 1.5em no-repeat;
}
.slides_txt article{
	line-height: 1.4em;
	font-weight: 200;
}
.slides_txt article h1 {
	font-weight: 700;
	font-size: 1em;
	color: #cc202f;
	line-height: 1.4em;
}

/* Brewery presentation (page 3) */
.brewe_txt h1, .conta_txt h1 {
	font-weight: 200;
	font-size: 4em;
	line-height: 0.8em;
}
.brewe_txt p {
	line-height: 1.4em;
	font-weight: 200;
}
.brewe_size {
	max-width: 30%;
}
.brewe_txt{
	z-index: 0;
	padding-top: 15%;
	margin-left: 10%;
	width: 32%;
}
.brewe_txt h1, .conta_txt h1 {
	margin-bottom: 5%;
}
.brewe_sticker {
	background: transparent 0 0;
	z-index: 1;
	margin: 3% 0 0 12%;
	width: 20%;
}
.brewe_sticker img {
	width: 100%;
	height: auto;
}

/* Tranzition pages */
.transition {
	background: #e21d2a;
	text-transform: uppercase;
	color: white;
	height: 50%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	clear: both;
	z-index: 9;
}
.transition h1 {
	font-size: 60px;
	font-weight: 200;
	padding-left: 22%;
	margin-top: 100px;
	margin-bottom: 0px;
}
.transition h2 {
	color: white;
	font-size: 55px;
	padding-left: 32%;
	font-weight: 200;
	margin-top: 0px;
}

/* Contact page */
.conta_txt {
	z-index: 0;
	padding-top: 15%;
	margin-left: 10%;
	width: 100%;
}
.conta_button {
	font-size: 1.3em;
	font-weight: 400;
	color: #fff;
	background: #e11c2d url('../img/white_arrow.png') 86px 6px no-repeat;
	width: 120px;
	height: 35px;
	text-align: left;
	margin-top: 15px;
	float: right;
	margin-right: 10px;
}
label, input {
	width:100%;
	height: 25px;
	font-size: .9em;
	font-weight: 700;
}
label, .conta_button {
	text-transform: uppercase;
}
input{
	height: 40px;
}
input, .conta_button {
	margin-bottom: 10px;
	border-style: solid;
	border: none;
	padding-left: 10px;
}
label span {
	color: #cc202f;
	font-weight: 400;
	font-size: .9em;
	text-transform: lowercase;
}
div.form_column {
	display: inline-block;
	float: left;
	width: 30%;
	margin-right: 3%;
	vertical-align: top;
}
div.form_column:last-child {
	margin-right: 0;
}
textarea {
	resize: none;
	border: none;
	width: 100%;
	height: 194px;
}
label, input, textarea, button {
	float: left;
}
address {
	margin-top: 25px;
	font-style: normal;
}
.conta_coord a {
	color: #e11c2d;
	display: block;
	margin: 10px 0;
}

/* Media queries medium */
@media screen and (max-width: 1350px){
	/* Menu size reduction */
	.top_menu li {
		background: url(../img/top_menu2.png) 0 0 no-repeat;
		width: 173px;
	}
	.top_menu .t1 {
		left: 176px;
	}
	.top_menu .t2 {
		left: 333px;
	}
	.top_menu .t3 {
		left: 490px;
	}
	.top_menu .t4 {
		left: 647px;
	}
	.top_menu li:first-child {
		width: 200px;
		padding:0 ;
		margin: 0;
	}
	.top_menu li:first-child a img {
		height: 200px;
		width: 200px;
	}
	/* Intro's title size reduction to keep it on three lines' */
	.intro_float h1, .brewe_txt h1, .slides_txt h1 {
		font-size: 3em;
	}
	.intro_beers h1, .intro_event h1 {
		font-size: 1.4em;
	}
	.intro_glass {
		width: 16.32em;
		height: 35.334095em;
	}
}

/* Media queries small */
@media screen and (max-width: 1005px){
	.intro_float h1, .brewe_txt h1, .slides_txt h1 {
		font-size: 2.5em;
	}
}
