/*
Plugin: jQuery Parallax
Version 1.1
Author: Ian Lunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

html{
	width: 100%;
	height:100%;
}

body{
	margin: 0;
	padding: 0;
	min-width: 980px;
	height:100%;
	background-color:#fff;
}

p{
	margin: 0 0 20px 0;	
}
p, ul{
	font-family: Kievit,  sans-serif;
	font-size-adjust:0.488;
	font-weight:normal;
	font-style:normal;
	color:#000;
}

img{
	border: 0;
}

h1, h2, h3, #pixels{
	font-family: Kievit, sans-serif;
	font-weight:bold;
	font-style:normal;
}
h1, #pixels{
	font-size-adjust:0.40;
}
h2{
	font-size-adjust:0.531;
}

a{
	text-decoration: none;
	color:#000;
	outline:0;
}
a:visited{
	color:#000;
}


h2.intro_top {
	font-size:40px;
	font-weight:lighter;
}


ul#nav {
	position:fixed;
	list-style:none;
	padding-left:0px;
	margin-top:0px;
	z-index:400;
}
ul#nav li{
	float:left;
	background-color:#000;
	margin: 0px 2px 0px 0;	
	padding : 2px 20px 2px 20px;
	
}
ul#nav li a{
	color:#fff;
	font-weight:bold;
}

ul#nav li.logo  {
	background-color: transparent;
	padding : 0 0 0 0;
}

ul#nav li.logo a img{
	width:200px;
}

ul{
	list-style:none;
	padding-left:0px;
}
li.classic ul {
	background:url("../images/arrow_right.png") center right no-repeat;
	border-bottom : 1px dotted;
	padding-left: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
}
li.classic ul.last {
	border-bottom : none;	
}
li.classic ul:hover {
	background:url("../images/arrow_right.png") center right no-repeat #E0E0E0;
}
li.beer_who{
	color:#CC202F;
	font-style: italic;
}
.events{
	width:45%;	
	float:left;
	margin-left:20px;
}
span.date {
	color:#CC202F;
	font-style:italic;
}
span.event_desc{
	float:left;
}

/* Content */
#intro_bg, #beers_bg, #brewe_bg, #resel_bg, #conta_bg{
	background: linear-gradient(#E0E0E0, #FFFFFF);
	background: -o-linear-gradient(#E0E0E0, #FFFFFF);
	background: -moz-linear-gradient(#E0E0E0, #FFFFFF);
	background: -webkit-linear-gradient(#E0E0E0, #FFFFFF);
	background: -ms-linear-gradient(#E0E0E0, #FFFFFF);

	min-height: 100%;
	width:100%;
	-webkit-background-size: cover;	-moz-background-size: cover; -o-background-size: cover;
	background-size: cover;
}

section{
	margin:auto;
	width:70%;	
	position: relative;
}

#intro_float{
	float:left;
    width:60%;
}

.intro_top{
	padding-top: 15%;
}

.intro_l{
	display: inline-block;
    width: 45%;
    vertical-align: top;
}

.intro_m{
	display: inline-block;
    width: 45%;
    margin-left:4%;
    vertical-align: top;
}

.intro_glass{	
	float:left;
	width:40%;
	height:70%;
	padding-top: 8%;
	background-color: transparent;	
}
.intro_glass img{
	max-height: 100%;
}







#beers_bg .story .float-left {
  padding: 170px 50px 0;
  position: relative;
  width: 510px;
}
#brewe_bg .story .float-left {
  padding: 170px 50px 0;
  position: relative;
  width: 350px;
}

#transition{
	background-color: #E21D2A;
	color:white;
	background-position: 50% 0;
	height: 50%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	clear: both;
	-webkit-background-size: cover;	-moz-background-size: cover; -o-background-size: cover;
	background-size: cover;
}
#transition h1{
	font-size: 60px;
	font-weight: lighter;
	padding-left:22%;
	margin-top: 100px;
	margin-bottom: 0px;
}
#transition h2{
	color:white;
	font-size: 55px;
	padding-left: 32%;
	font-weight: lighter;
	margin-top:0px;
}
